<div class="widget" style = "display: none">
  <h1>Fall '22 Goals</h1>
  <h2>10/26/22 - 12/25/22</h2>
  <table>
      <tr>
          <th>1</th>
          <td>Finish CSE120 Assignment</td>
      </tr>
      <tr>
          <th>2</th>
          <td>Study for CSE101 Quiz</td>
      </tr>
      <tr>
          <th>3</th>
          <td>Apply for Tech4Good Lab</td>
      </tr>
  </table>
</div>

<div class = "widget">
  <h1 class = "widget2">Long Term Goals</h1>
  <h2 class = "widget2">1 Year</h2>
  <table class = "widget2-text">
      <tr>
          <td>Practice Interviews</td>
      </tr>
      <tr>
          <td>Get internship in React/Angular or iOS</td>
      </tr>
      <tr>
          <td>Purchase fast food and disguise it as your own cooking</td>
      </tr>
  </table>
  <h2 class = "widget2">5 Years</h2>
  <table class = "widget2-text">
      <tr>
          <td>Go through some strawberry fields</td>
      </tr>
      <tr>
          <td>Follow the Yellow Brick Road</td>
      </tr>
      <tr>
          <td>Achieve Immortality</td>
      </tr>
  </table>
</div>